.button {
    padding: 10px 40px;
    border: 2px solid #fdfdfd;
    box-shadow: 0 4px 15px rgb(231 85 83 / 30%);
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 768px) {

    .button {
        padding: 10px 20px;
        font-size: 15px;
    }
}